#comment {
  flex-direction: column;
}

#comment-content {
  padding-top: 10px;
}

#comment-content > p {
  white-space: pre-wrap;
}

#comment-author-info {
  flex-grow: 1;
  padding-left: 16px;
  padding-top: 3px;
  display: flex;
  flex-direction: column;
}

#comment-author-info > #comment-author-username {
  font-size: 1.2rem;
}

#comment-author-info > #comment-author-date {
  font-size: 0.9rem;
  opacity: 50%;
}

@media (max-width: 768px) {
  p.delete-comment-text {
    display: none !important;
  }
}
