@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@500;600;700&display=swap");

header .navbar-brand {
  font-family: "Comfortaa", cursive;
  font-weight: 700;
  font-size: 1.5rem;
}

header span.brand-part1 {
  color: #ffca2c;
}

header span.brand-part2 {
  color: #1989ff;
}

@media (max-width: 768px) {
  header .dropdown {
    margin-top: 12px;
  }

  header .modals {
    width: 100%;
  }

  header .buttons {
    display: flex;
    justify-content: space-evenly;
  }

  header .buttons > button {
    margin: 0 !important;
  }
}
